:root {
  --gap: 25px;
  --white: #fff;
  --bright-blue: #1a73e8;
  --border-radius: 8px;
}

*:focus {
  border-color: #002147 !important;
  border-width: 2px;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

body:has(.results-page),
html:has(.results-page) {
  height: auto;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

.quiz-container {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0 auto;
  padding: 40px;
  width: 768px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-container h4 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.quiz-container {
  margin: 10px;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container:has(.results-page) {
  height: 100%;
}

.quiz-item {
  padding: 15px 20px;
  background: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  font-size: 16px;
  color: #202124;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.logo-header {
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
}

.questionnaire-item:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.questionnaire-item,
.step-container {
  animation: fadeIn 0.5s ease-in-out;
}

.logo:not(.results-page .logo, .step1 .logo) {
  width: 150px;
  height: auto;
  margin-top: 50px;
}

.step1 .logo {
  width: 300px;
  height: auto;
  margin-top: 30px;
}

.step1 .buttons {
  justify-content: end;
  margin: 0;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--bright-blue);
  font-weight: 700;
  letter-spacing: 0.5px;
  text-wrap: balance;
}

h4,
.results-page h4 {
  font-size: 16px;
  background-color: #bdd7f9;
  color: #000;
  text-align: center;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

input[type="text"] {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #dadce0;
  border-radius: var(--border-radius);
  background-color: #f8f9fa;
  font-size: 16px;
  color: #202124;
}

button,
button:hover,
input[type="text"],
input[type="text"]:focus {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.buttons button {
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  color: var(--white);
  background-color: var(--bright-blue);
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button:hover {
  background-color: #1976d2;
  box-shadow: 0 2px 4px rgba(26, 115, 232, 0.4);
}

.buttons button:disabled,
.buttons select:disabled {
  background-color: #e8eaed;
  color: #5f6368;
  cursor: not-allowed;
}

.buttons .red {
  background-color: #ff5050 !important;
}

.buttons .red:hover {
  background-color: #8b0000 !important;
}

.question-options {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.question-options input[type="radio"] {
  margin-right: 0.5em;
  margin-top: 5px;
}

.results-page {
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
  gap: 20px;
}

.results-page ul {
  padding-left: 10px;
}

.results-page .buttons {
  display: flex;
  justify-content: center;
}

.results-page .results-header {
  grid-column: span 2;
  align-items: center;
  justify-content: space-around;
  margin: -30px;
  margin-top: 0px;
}

.results-page .results-header .logo-header {
  grid-column: span 1;
  height: 90px;
}

.results-page .logo {
  width: 90px;
  height: 90px;
}

.results-page .message {
  grid-column: span 2;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .logo:not(.results-page .logo, .step1 .logo) {
    margin-top: 0px;
  }

  .step1 .logo {
    width: 200px;
    height: auto;
    margin-top: 20px;
  }

  .quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .container:not(:has(.results-page)) {
    height: 100%;
    margin-top: 170px;
  }

  .container:has(.step1) {
    margin-top: 20px;
  }

  .container .results-page {
    height: 100%;
    margin-top: -20px;
  }

  .step-container {
    width: 100%;
    height: 100%;
    top: 0;
  }

  .buttons button {
    font-size: 14px;
    padding: 10px 15px;
  }
}

@media (max-width: 600px) {
  .logo:not(.results-page .logo, .step1 .logo) {
    margin-top: 50px;
  }

  .results-page {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
